h1{
    color: rgb(255, 98, 98);
    font-size: 60px;    
}

/*
body{
    background: rgb(128, 207, 128);
     background-image: url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
}
*/