<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	<title>404 Error</title>-->
<!--	<link rel="stylesheet" href="{{ url_for('static', filename='error.css') }}"/>-->
<!--</head>-->
<!--<body>-->
<!--	<div id="top">-->
<!--		<CENTER class="pos_center">-->
<!--			<h1 class="error">ERROR {{ 404 }}</h1>-->
<!--			<p>This Page Not Available For Now</p>-->
<!--		</CENTER>-->
<!--	</div>-->

<!--</body>-->
<!--</html>-->


{% extends 'base.html' %}
{% block content %}
<center>
	<h1>404 Page Not Found</h1>
	<p>This Page Not Available For Now</p>
</center>

{% endblock %}
